#gif-view {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.container-fluid {
    padding: 0;
}

.gif-container {
    display: inline-block;
    text-align: center;
    margin: 10px;
    border: solid #000000 2px;
    border-radius: 10px;
    background: url("../images/whirlpool.png");
}

@media (max-width: 414px) {
    .gif-container {
        margin: 10px 0;
    }
}

.gif {
    text-align: center;
}

.rating {
    padding: 0;
    margin: 0;
}

img {
    max-width: 359px;
    height: 200px;
}

h2 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
}

body {
    background: url("../images/congruent_pentagon.png");
    font-family: 'Oxygen', sans-serif;
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 50px;
    font-weight: 700;
}

.jumbotron {
    background: url("../images/whirlpool.png");
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

button, input {
    border-radius: 5px;
    margin: 5px;
}

form {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#topic-input {
    width: 320px;
}

#add-more {
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    height: 40px;
    background-color: #23b136;
    border: none;
    color: #ffffff;
}

.topic {
    height: 40px;
}

topic:hover {
    cursor: pointer;
}

#buttons-view {
    margin-top: 10px;
    text-align: center;
}

.form-control {
    margin: 0 auto;
    display: block;
}


